

header, footer {
    padding: 10px;
    clear: both;
    text-align: center;
    background:#ebebeb; 
    margin-top: 10px; 
    }
    
    footer { 
        margin-top: 10px;
        margin-bottom: 10px;
    
     }
    nav {
        text-align: center;
        padding: 10px;
        border: 10px;
        background-color:#ebebeb;
    }
    boxed {
        border: 1px solid green ;
        padding: 10px;
       
      }
    .container{
        padding: 10px;
    }
    
    
    section {
        text-align: center;
       background-color:#ebebeb;
        float: left;
        overflow: hidden;
        width: 495px;
        padding: 10px;
        margin-bottom: 15px;
    }
    article{background-color:#777;
        text-align: center;
        padding: 10px;
        font:white 
    }
    aside {
        padding: 10px;
        text-align: center;
        float: right;
        width: 400px;
        background-color:#ebebeb;
        height: 208px;
        margin-bottom: 15px;
    }
    body {
        width: 960px;
        content: #ebebeb;
        background:#777; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color:grey ;
    
    }
    h1 {
        background: #ebebeb;
    }
    p {
        background: #ebebeb;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;}
        #space{margin-bottom: 10px;}